<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <!-- Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Let's integrate FHIR Resources!</h2>
            <p>FHIR Endpoint: {{ endpoint }}</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="pick_fhir" class="col-md-2 control-label">Choose FHIR Patient</label>
                <div class="col-md-10">
                    <select class="form-control" id="pick_fhir">
                        {% for patient in fhir_subjects %}
                            <option value="{{ patient.resource.id }}">{{ patient.resource.name[0].family[0] }}, {{ patient.resource.name[0].given[0] }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pick_rave" class="col-md-2 control-label">Choose Rave Subject</label>
                <div class="col-md-10">
                    <select class="form-control" id="pick_rave">
                        {% for subject in rave_subjects %}
                            <option value="{{ subject.subjectkey }}">{{ study_name }}
                                - {{ subject.subject_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button class="btn btn-default" id="push-demog" type="button">Import Demographics</button>
                <button class="btn btn-default" id="push-conmed" type="button">Import Concomitant Medications</button>
            </div>
        </div>

    </div>
    <!-- jQuery, hosted by google -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="application/javascript">
        $("#push-demog").on("click", function () {
            var rave_subject = $("#pick_rave").val();
            if (rave_subject === "") {
                console.log("Select a Subject");
                return true;
            }
            var fhir_subject = $("#pick_fhir").val();
            if (fhir_subject === "") {
                console.log("Select a Patient");
                return true;
            }
            $.ajax({
                url: "/post",
                method: "POST",
                dataType: "json",
                data: {
                    rave_uuid: rave_subject,
                    fhir_id: fhir_subject,
                    dataset: 'DM'
                }
            })
                    .done(function (data) {

                    })
                    .fail(function () {

                    })
        });
        $("#push-conmed").on("click", function () {
            var rave_subject = $("#pick_rave").val();
            if (rave_subject === "") {
                console.log("Select a Subject");
                return true;
            }
            var fhir_subject = $("#pick_fhir").val();
            if (fhir_subject === "") {
                console.log("Select a Patient");
                return true;
            }
            $.ajax({
                url: "/post",
                method: "POST",
                dataType: "json",
                data: {
                    rave_uuid: rave_subject,
                    fhir_id: fhir_subject,
                    dataset: 'CM'
                }
            })
                    .done(function (data) {

                    })
                    .fail(function () {

                    })
        })
    </script>
</div>
</body>
</html>