        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="col-lg-10">Demography</h3>
                <div class="col-lg-2"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <label class="col-md-3" for="dm_BRTHDAT">Birth Date</label>
                        <input type="date" id="dm_BRTHDAT" value="{{data.birthDate}}">
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <label class="col-md-3" for="dm_SEX">Sex</label>
                        <input type="text" id="dm_SEX" value="{{data.gender}}">
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>
        </div>
